.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.address{font-size: 0.5em;}
.block{height:30px;width:100%;}
.padding10{padding:10px;}
.text-left{text-align: left;}
.vote-view,.airdrop-view{width:50%;  }
.right{margin-left:auto;margin-right:10px;text-align: right;}
.field input {padding:5px; margin:5px;width:200px;}
select{margin:5px;width:50px;padding:5px;text-align: right;}
.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
form{width:50%;}
.form-submit{width:200px;margin-left:auto;margin-right:10px;}

.row{display:table-row;}
.row .item{display: flex; line-height: 40px; padding: 0px 5px;}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
